@font-face {
    font-family:'android' ;
    src: url(fonts/IDroid\ Bold.otf);
}
@font-face {
  font-family:'bebas';
  src: url(fonts/bebas/Bebas-Regular.otf)
}

*{
  margin: 0;
  padding: 0;
}

body {
    background-color:rgb(253, 236, 205);
    
}
 header {
    background-image: linear-gradient(#26ee7c, #216e34c4,#0b4d10);
    color: white;
    font-weight:bolder ;
    min-height: 150px;
    text-align: center;

 }
 
#box {
    font-family:'bebas';
    text-shadow:  2px 2px 0px black;
    padding-top: 18px;
  }
  #p1 {
    text-shadow:  2px 2px 03px black;
    padding-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  
 nav > a {
   text-align:inline;
   text-decoration: none;
   color: rgb(56, 194, 63);
   padding: 5px 5px 1px 5px;
   
  }
  nav {
    text-align: left;
    background-color: #0b4d10;
    font-weight: bolder;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.425);
  }
  #hh {
    font-family: 'android';
    text-align: justify;
    padding-left: 20px;
    color: rgb(17, 65, 17);
  }
  a:hover {
    background-color: rgb(60, 133, 60);
    border-radius: 4px;
    color: #0b4d10;
    transition-delay: 200ms;
    transition-duration: 200ms;
    text-decoration: underline;
    
  }
  main {
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px 20px ;
    margin: 0px 60px;
    
    font-family: Arial, Helvetica, sans-serif;
    
  }
  main > p{
    line-height: 1.5em;
    text-align: justify;

  }
 
  
  #hg {
    background-image: linear-gradient(to right, rgb(42, 228, 42), rgb(255, 255, 255));
    font-family: 'android';
    color: rgb(28, 88, 28);
    display: inline-flexbox;
  }
  p > a{
    text-decoration: none;
    color: rgb(11, 78, 11);
    background-color: rgb(157, 247, 157);
    font-weight: bold;
  }
  .a2::after{
    content: ' 📎';

  }
  p > span {
    color: green;
    font-weight: bold;
  }
  p {
    text-indent: 20px;
   
  }
  img {
      width: 100%;
      height: 20%;

    }
  
  div.dob {
     position: relative;
     margin: 0px -20px 30px -20px;
     padding: 20px;
     padding-bottom:56%;
    
} 
 div.dob > iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}
#droid {
  max-width:350px ;
  height: 50%;
  display:block;
  margin: auto;
}
#hj {
  background-color: green;
  color: white; 
  padding: 10px 10px 20px 10px;
  border-radius: 10px 10px 0px 0px ;
  margin-bottom: 0px;
}

#dv {
  background-color: rgb(166, 238, 166);
  padding-top: 1px;
 

}
.a1 {
  color: black;
  text-decoration: underline;

}


#d5 { 
  columns:2;
  list-style: none;
  text-indent: 1em;
 
}
#dv > p {
  text-indent: 20px;
  line-height: 2em;
  line-break: auto;
  
}
footer {
  background-color: #0b4d10;
  color: #bbe0c3;
  text-align: center;
  font-weight: bolder;
  padding:0px 0px 0px 0px;
  margin-bottom: -20px;
}
#last > a {
  color: white;
  background-color: rgb(25, 90, 36);
  
}
      
      
    
  

  
