@charset "utf-8";

*
{
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-image:linear-gradient(to right,#AFE6BE,#F4A9A0);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px#583d3a;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #F3E9C0;
    text-align: center;
    text-shadow: 1px 1px 0px#888269;

}
h2{
    color: #A6B4E6;

}
p{
    text-align: justify;
}